<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/game.css" />
    <title>App</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="balance_cont block">
        <img src="../png/coin.png" alt="" />
        <div class="balance"></div>
      </div>

      <div class="modal">
        <img src="../png/modal.png" alt="" />
        <div class="result"></div>
      </div>

      <a href="main.html" class="home block"> Exit </a>

      <div class="indicators"></div>

      <div class="field"></div>

      <div class="control">
        <img src="../png/spin.png" class="spin" />
        <img src="../png/cube.png" alt="" class="shuffle" />
      </div>

      <div class="outs_cont">
        <div class="outs_title">10</div>
        <div class="outs_cont2"></div>
      </div>
    </div>

    <script src="../scripts/functions.js"></script>
    <script src="../scripts/jQuery.js"></script>
    <script src="../scripts/game.js"></script>
  </body>
</html>
