<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Stop Slots</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="balance_cont block">
        <img src="../png/coin.png" alt="" />
        <div class="balance"></div>
      </div>

      <div class="links">
        <a href="game.html" class="link_play button block">START GAME</a>
        <a href="../index.html" class="link_policy block">Privacy policy</a>
      </div>

      <img src="../png/man.png" alt="" class="man" />
      <img src="../png/club.png" alt="" class="club" />
    </div>

    <script src="../scripts/functions.js"></script>
    <script src="../scripts/jQuery.js"></script>
    <script src="../scripts/main.js"></script>
  </body>
</html>
